body{
    background-color: lightpink;
    color: #592226;
    font-family: Verdana;
}
header{
    background-color: #bb6269;
    color: white;
    padding: 20px;
    border: #592226 2px solid;
    border-radius: 10px;
}
section{
    background-color: #c79394;
    border: #592226 2px solid;
    border-radius: 10px;
}
#wynik{
    background-color: #e5b0b0;
    padding: 5px;
}
input{
    margin-bottom: 5px;
}
table{
    width: 20%;
}
table td{
    border: 1px solid #592226;
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    background-color: #824a4a;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 5px solid #592226;
}